App_WebReferences/EWin/FANTA/FANTA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAccountingDetailBySummaryDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountingDetailBySummaryDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountingDetailBySummaryDateResult" type="tns:AgentAccountingResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AgentAccountingResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:APIResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AgentAccountingList" type="tns:ArrayOfAgentAccounting" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="APIResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultState" type="tns:enumResultState" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="enumResultState">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="ERR" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAgentAccounting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AgentAccounting" nillable="true" type="tns:AgentAccounting" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AgentAccounting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LoginAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountingName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountingStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountingID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserCommissionProfit" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetChildUserBySID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChildUserBySIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChildUserBySIDResult" type="tns:ChildUserResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChildUserResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:APIResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ChildUserList" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ResetUserPointValueAndThresholdValueByCurrencyType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetUserPointValueAndThresholdValueByCurrencyTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetUserPointValueAndThresholdValueByCurrencyTypeResult" type="tns:APIResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserLevelBuyChip">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActivtyName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserLevelIndex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SummaryDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="RateSettings" type="tns:ArrayOfVipBuyChipRateSetting" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVipBuyChipRateSetting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VipBuyChipRateSetting" nillable="true" type="tns:VipBuyChipRateSetting" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VipBuyChipRateSetting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GameAccountingCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BuyChipRate" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUserLevelBuyChipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserLevelBuyChipResult" type="tns:APIResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginAccount" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserLevelIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserLevelResult" type="tns:APIResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserThresholdValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserThresholdValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserThresholdValueResult" type="tns:APIResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelfValidBetValueFromSummaryByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QueryBeginDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QueryEndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelfValidBetValueFromSummaryByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSelfValidBetValueFromSummaryByDateResult" type="tns:APIResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserThresholdInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginAccount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserThresholdInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserThresholdInfoResult" type="tns:UserThresholdInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserThresholdInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:APIResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ThresholdInfo" type="tns:ArrayOfThresholdInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfThresholdInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ThresholdInfo" nillable="true" type="tns:ThresholdInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ThresholdInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ThresholdValue" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DepositValue" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardValue" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="AgentAccountingResult" nillable="true" type="tns:AgentAccountingResult" />
      <s:element name="ChildUserResult" nillable="true" type="tns:ChildUserResult" />
      <s:element name="APIResult" nillable="true" type="tns:APIResult" />
      <s:element name="UserThresholdInfo" nillable="true" type="tns:UserThresholdInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountingDetailBySummaryDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountingDetailBySummaryDate" />
  </wsdl:message>
  <wsdl:message name="GetAccountingDetailBySummaryDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountingDetailBySummaryDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetChildUserBySIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetChildUserBySID" />
  </wsdl:message>
  <wsdl:message name="GetChildUserBySIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetChildUserBySIDResponse" />
  </wsdl:message>
  <wsdl:message name="ResetUserPointValueAndThresholdValueByCurrencyTypeSoapIn">
    <wsdl:part name="parameters" element="tns:ResetUserPointValueAndThresholdValueByCurrencyType" />
  </wsdl:message>
  <wsdl:message name="ResetUserPointValueAndThresholdValueByCurrencyTypeSoapOut">
    <wsdl:part name="parameters" element="tns:ResetUserPointValueAndThresholdValueByCurrencyTypeResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserLevelBuyChipSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserLevelBuyChip" />
  </wsdl:message>
  <wsdl:message name="AddUserLevelBuyChipSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserLevelBuyChipResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLevelSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserLevel" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLevelSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserLevelResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserThresholdValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserThresholdValue" />
  </wsdl:message>
  <wsdl:message name="GetUserThresholdValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserThresholdValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetSelfValidBetValueFromSummaryByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetSelfValidBetValueFromSummaryByDate" />
  </wsdl:message>
  <wsdl:message name="GetSelfValidBetValueFromSummaryByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetSelfValidBetValueFromSummaryByDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserThresholdInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserThresholdInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserThresholdInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserThresholdInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountingDetailBySummaryDateHttpGetIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="SID" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAccountingDetailBySummaryDateHttpGetOut">
    <wsdl:part name="Body" element="tns:AgentAccountingResult" />
  </wsdl:message>
  <wsdl:message name="GetChildUserBySIDHttpGetIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="SID" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetChildUserBySIDHttpGetOut">
    <wsdl:part name="Body" element="tns:ChildUserResult" />
  </wsdl:message>
  <wsdl:message name="ResetUserPointValueAndThresholdValueByCurrencyTypeHttpGetIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="CurrencyType" type="s:string" />
    <wsdl:part name="Description" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ResetUserPointValueAndThresholdValueByCurrencyTypeHttpGetOut">
    <wsdl:part name="Body" element="tns:APIResult" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLevelHttpGetIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
    <wsdl:part name="UserLevelIndex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLevelHttpGetOut">
    <wsdl:part name="Body" element="tns:APIResult" />
  </wsdl:message>
  <wsdl:message name="GetUserThresholdValueHttpGetIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
    <wsdl:part name="CurrencyType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserThresholdValueHttpGetOut">
    <wsdl:part name="Body" element="tns:APIResult" />
  </wsdl:message>
  <wsdl:message name="GetSelfValidBetValueFromSummaryByDateHttpGetIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
    <wsdl:part name="CurrencyType" type="s:string" />
    <wsdl:part name="QueryBeginDate" type="s:string" />
    <wsdl:part name="QueryEndDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSelfValidBetValueFromSummaryByDateHttpGetOut">
    <wsdl:part name="Body" element="tns:APIResult" />
  </wsdl:message>
  <wsdl:message name="GetUserThresholdInfoHttpGetIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserThresholdInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:UserThresholdInfo" />
  </wsdl:message>
  <wsdl:message name="GetAccountingDetailBySummaryDateHttpPostIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="SID" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAccountingDetailBySummaryDateHttpPostOut">
    <wsdl:part name="Body" element="tns:AgentAccountingResult" />
  </wsdl:message>
  <wsdl:message name="GetChildUserBySIDHttpPostIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="SID" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetChildUserBySIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ChildUserResult" />
  </wsdl:message>
  <wsdl:message name="ResetUserPointValueAndThresholdValueByCurrencyTypeHttpPostIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="CurrencyType" type="s:string" />
    <wsdl:part name="Description" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ResetUserPointValueAndThresholdValueByCurrencyTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:APIResult" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLevelHttpPostIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
    <wsdl:part name="UserLevelIndex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLevelHttpPostOut">
    <wsdl:part name="Body" element="tns:APIResult" />
  </wsdl:message>
  <wsdl:message name="GetUserThresholdValueHttpPostIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
    <wsdl:part name="CurrencyType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserThresholdValueHttpPostOut">
    <wsdl:part name="Body" element="tns:APIResult" />
  </wsdl:message>
  <wsdl:message name="GetSelfValidBetValueFromSummaryByDateHttpPostIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
    <wsdl:part name="CurrencyType" type="s:string" />
    <wsdl:part name="QueryBeginDate" type="s:string" />
    <wsdl:part name="QueryEndDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSelfValidBetValueFromSummaryByDateHttpPostOut">
    <wsdl:part name="Body" element="tns:APIResult" />
  </wsdl:message>
  <wsdl:message name="GetUserThresholdInfoHttpPostIn">
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="GUID" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserThresholdInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:UserThresholdInfo" />
  </wsdl:message>
  <wsdl:portType name="FANTASoap">
    <wsdl:operation name="GetAccountingDetailBySummaryDate">
      <wsdl:input message="tns:GetAccountingDetailBySummaryDateSoapIn" />
      <wsdl:output message="tns:GetAccountingDetailBySummaryDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChildUserBySID">
      <wsdl:input message="tns:GetChildUserBySIDSoapIn" />
      <wsdl:output message="tns:GetChildUserBySIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetUserPointValueAndThresholdValueByCurrencyType">
      <wsdl:input message="tns:ResetUserPointValueAndThresholdValueByCurrencyTypeSoapIn" />
      <wsdl:output message="tns:ResetUserPointValueAndThresholdValueByCurrencyTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserLevelBuyChip">
      <wsdl:input message="tns:AddUserLevelBuyChipSoapIn" />
      <wsdl:output message="tns:AddUserLevelBuyChipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLevel">
      <wsdl:input message="tns:UpdateUserLevelSoapIn" />
      <wsdl:output message="tns:UpdateUserLevelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdValue">
      <wsdl:input message="tns:GetUserThresholdValueSoapIn" />
      <wsdl:output message="tns:GetUserThresholdValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSelfValidBetValueFromSummaryByDate">
      <wsdl:input message="tns:GetSelfValidBetValueFromSummaryByDateSoapIn" />
      <wsdl:output message="tns:GetSelfValidBetValueFromSummaryByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdInfo">
      <wsdl:input message="tns:GetUserThresholdInfoSoapIn" />
      <wsdl:output message="tns:GetUserThresholdInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FANTAHttpGet">
    <wsdl:operation name="GetAccountingDetailBySummaryDate">
      <wsdl:input message="tns:GetAccountingDetailBySummaryDateHttpGetIn" />
      <wsdl:output message="tns:GetAccountingDetailBySummaryDateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChildUserBySID">
      <wsdl:input message="tns:GetChildUserBySIDHttpGetIn" />
      <wsdl:output message="tns:GetChildUserBySIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetUserPointValueAndThresholdValueByCurrencyType">
      <wsdl:input message="tns:ResetUserPointValueAndThresholdValueByCurrencyTypeHttpGetIn" />
      <wsdl:output message="tns:ResetUserPointValueAndThresholdValueByCurrencyTypeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLevel">
      <wsdl:input message="tns:UpdateUserLevelHttpGetIn" />
      <wsdl:output message="tns:UpdateUserLevelHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdValue">
      <wsdl:input message="tns:GetUserThresholdValueHttpGetIn" />
      <wsdl:output message="tns:GetUserThresholdValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSelfValidBetValueFromSummaryByDate">
      <wsdl:input message="tns:GetSelfValidBetValueFromSummaryByDateHttpGetIn" />
      <wsdl:output message="tns:GetSelfValidBetValueFromSummaryByDateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdInfo">
      <wsdl:input message="tns:GetUserThresholdInfoHttpGetIn" />
      <wsdl:output message="tns:GetUserThresholdInfoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FANTAHttpPost">
    <wsdl:operation name="GetAccountingDetailBySummaryDate">
      <wsdl:input message="tns:GetAccountingDetailBySummaryDateHttpPostIn" />
      <wsdl:output message="tns:GetAccountingDetailBySummaryDateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChildUserBySID">
      <wsdl:input message="tns:GetChildUserBySIDHttpPostIn" />
      <wsdl:output message="tns:GetChildUserBySIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetUserPointValueAndThresholdValueByCurrencyType">
      <wsdl:input message="tns:ResetUserPointValueAndThresholdValueByCurrencyTypeHttpPostIn" />
      <wsdl:output message="tns:ResetUserPointValueAndThresholdValueByCurrencyTypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLevel">
      <wsdl:input message="tns:UpdateUserLevelHttpPostIn" />
      <wsdl:output message="tns:UpdateUserLevelHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdValue">
      <wsdl:input message="tns:GetUserThresholdValueHttpPostIn" />
      <wsdl:output message="tns:GetUserThresholdValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSelfValidBetValueFromSummaryByDate">
      <wsdl:input message="tns:GetSelfValidBetValueFromSummaryByDateHttpPostIn" />
      <wsdl:output message="tns:GetSelfValidBetValueFromSummaryByDateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdInfo">
      <wsdl:input message="tns:GetUserThresholdInfoHttpPostIn" />
      <wsdl:output message="tns:GetUserThresholdInfoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FANTASoap" type="tns:FANTASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountingDetailBySummaryDate">
      <soap:operation soapAction="http://tempuri.org/GetAccountingDetailBySummaryDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildUserBySID">
      <soap:operation soapAction="http://tempuri.org/GetChildUserBySID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetUserPointValueAndThresholdValueByCurrencyType">
      <soap:operation soapAction="http://tempuri.org/ResetUserPointValueAndThresholdValueByCurrencyType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserLevelBuyChip">
      <soap:operation soapAction="http://tempuri.org/AddUserLevelBuyChip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLevel">
      <soap:operation soapAction="http://tempuri.org/UpdateUserLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdValue">
      <soap:operation soapAction="http://tempuri.org/GetUserThresholdValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelfValidBetValueFromSummaryByDate">
      <soap:operation soapAction="http://tempuri.org/GetSelfValidBetValueFromSummaryByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdInfo">
      <soap:operation soapAction="http://tempuri.org/GetUserThresholdInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FANTASoap12" type="tns:FANTASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountingDetailBySummaryDate">
      <soap12:operation soapAction="http://tempuri.org/GetAccountingDetailBySummaryDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildUserBySID">
      <soap12:operation soapAction="http://tempuri.org/GetChildUserBySID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetUserPointValueAndThresholdValueByCurrencyType">
      <soap12:operation soapAction="http://tempuri.org/ResetUserPointValueAndThresholdValueByCurrencyType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserLevelBuyChip">
      <soap12:operation soapAction="http://tempuri.org/AddUserLevelBuyChip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLevel">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdValue">
      <soap12:operation soapAction="http://tempuri.org/GetUserThresholdValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelfValidBetValueFromSummaryByDate">
      <soap12:operation soapAction="http://tempuri.org/GetSelfValidBetValueFromSummaryByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUserThresholdInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FANTAHttpGet" type="tns:FANTAHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetAccountingDetailBySummaryDate">
      <http:operation location="/GetAccountingDetailBySummaryDate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildUserBySID">
      <http:operation location="/GetChildUserBySID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetUserPointValueAndThresholdValueByCurrencyType">
      <http:operation location="/ResetUserPointValueAndThresholdValueByCurrencyType" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLevel">
      <http:operation location="/UpdateUserLevel" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdValue">
      <http:operation location="/GetUserThresholdValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelfValidBetValueFromSummaryByDate">
      <http:operation location="/GetSelfValidBetValueFromSummaryByDate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdInfo">
      <http:operation location="/GetUserThresholdInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FANTAHttpPost" type="tns:FANTAHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetAccountingDetailBySummaryDate">
      <http:operation location="/GetAccountingDetailBySummaryDate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildUserBySID">
      <http:operation location="/GetChildUserBySID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetUserPointValueAndThresholdValueByCurrencyType">
      <http:operation location="/ResetUserPointValueAndThresholdValueByCurrencyType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLevel">
      <http:operation location="/UpdateUserLevel" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdValue">
      <http:operation location="/GetUserThresholdValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelfValidBetValueFromSummaryByDate">
      <http:operation location="/GetSelfValidBetValueFromSummaryByDate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserThresholdInfo">
      <http:operation location="/GetUserThresholdInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FANTA">
    <wsdl:port name="FANTASoap" binding="tns:FANTASoap">
      <soap:address location="https://ewin.dev.mts.idv.tw/API/Partner/FANTA.asmx" />
    </wsdl:port>
    <wsdl:port name="FANTASoap12" binding="tns:FANTASoap12">
      <soap12:address location="https://ewin.dev.mts.idv.tw/API/Partner/FANTA.asmx" />
    </wsdl:port>
    <wsdl:port name="FANTAHttpGet" binding="tns:FANTAHttpGet">
      <http:address location="https://ewin.dev.mts.idv.tw/API/Partner/FANTA.asmx" />
    </wsdl:port>
    <wsdl:port name="FANTAHttpPost" binding="tns:FANTAHttpPost">
      <http:address location="https://ewin.dev.mts.idv.tw/API/Partner/FANTA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>